header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--spacing-header);
    display: flex;
    background: var(--bg-color-body);
    z-index: 1000;
}

header nav {
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
}

header nav .box-left-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

header nav .box-left-header img {
    width: 40px;
    border-radius: 50%;
}
/*  MEU NOME RYAN  */
header nav .box-left-header div h3 {
    font-size: var(--fonte-header-title); 
    color: var(--texto-color-main);
}

header nav .box-left-header div p {
    font-size: clamp(13px, 1em, 14px);
    color: var(--texto-color-sub);
}

header nav .box-right-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

header nav .box-right-menu .menu-btn{
    display: none;
}

header nav .box-navegacao a {
    font-size: var(--font-sub-title);
    color: var(--texto-color-sub);
    text-decoration: none;
    font-weight: 500;
    border-radius: 10px;
    padding: 5px 17px;
    transition: 0.3s;
}

header nav .box-navegacao a:hover {
    transform: scale(1.15);
    transition: 0.3s;
    background: var(--bg-color-main-sub);
    color: var(--bg-color-main);
} 